@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: #F7F7F7;
}
p {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  box-shadow: 0px 4px 50px 0px #7185CA33;
  height: 110px;
}
.header .header_center_wrap {
  max-width: 1410px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header .header_center_wrap .logo {
  width: 220px;
}
.header .header_center_wrap .logo img {
  width: 90px;
  height: 66px;
}
.header .header_center_wrap .nav {
  width: 668px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .header_center_wrap .nav a {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  color: #3C3C3C;
  text-decoration: none;
}
.header .header_center_wrap .nav .mobile_btn {
  display: none;
}
.header .header_center_wrap .right_btns {
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .header_center_wrap .right_btns .item {
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: space-between;
  align-items: center;
}
.header .header_center_wrap .right_btns .item_2 {
  display: flex;
  flex-direction: row;
  width: 88px;
  justify-content: space-between;
  align-items: center;
}
.header .header_center_wrap .right_btns .burger {
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 50px 0px #7185CA33;
  background: #fff;
  margin-left: 30px;
}
.header .header_center_wrap .right_btns .burger_close {
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 50px 0px #7185CA33;
  background: #fff;
  margin-left: 30px;
}
.content_wrap {
  width: 1410px;
  margin: auto;
}
.content_wrap .top_nav {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.content_wrap .top_nav p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #818181;
  cursor: pointer;
}
.content_wrap .top_nav .black_text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #3C3C3C;
}
.content_wrap .top_nav img {
  margin: 0 8px;
}
.content_wrap .content_head {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content_wrap .content_head .title {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  color: #131313;
  text-align: left;
  cursor: pointer;
}
.content_wrap .content_head .right_btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.content_wrap .content_head .right_btns .btns_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: white;
  padding: 8px;
  border-radius: 30px;
}
.content_wrap .content_head .right_btns .btns_wrap .item {
  cursor: pointer;
  padding: 10px 20px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
}
.content_wrap .content_head .right_btns .btns_wrap .item:nth-child(2) {
  margin: 0 8px;
}
.content_wrap .content_head .right_btns .btns_wrap .item:nth-child(3) {
  margin-right: 8px;
}
.content_wrap .content_head .right_btns .btns_wrap .item:hover {
  background: #06BD32;
  border-radius: 30px;
  color: #ffffff;
}
.content_wrap .content_head .right_btns .like {
  cursor: pointer;
  font-size: 25px;
  color: #06BD32;
  background: #fff;
  width: 56px;
  height: 56px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}
.content_wrap .content_head .right_btns .like:hover {
  background: #06BD32;
  color: #fff;
}
.content_wrap .content_head .right_btns .like_start {
  opacity: 0;
  display: none;
  cursor: pointer;
  font-size: 15px;
  color: #06BD32;
  background: #fff;
  padding: 13.34px 11.83px 11.84px 11.83px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_wrap .content_head .right_btns .like_start:hover {
  background: #06BD32;
  color: #fff;
}
.content_wrap .articles_wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.content_wrap .articles_wrap .item {
  text-decoration: none;
  width: 300px;
  padding: 16px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 25px;
  margin-left: 25px;
}
.content_wrap .articles_wrap .item .top {
  width: 100%;
  height: 200px;
}
.content_wrap .articles_wrap .item .top .btns_wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: -190px;
}
.content_wrap .articles_wrap .item .top .btns_wrap .title_new {
  background: #06BD32;
  border-radius: 10px;
  padding: 4px 8px;
  color: #fff;
  margin-left: 12px;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 500;
  cursor: pointer;
  text-align: left;
}
.content_wrap .articles_wrap .item .top .btns_wrap .like {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 30px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  color: #CECECE;
}
.content_wrap .articles_wrap .item .top .btns_wrap .like i {
  font-size: 13px;
}
.content_wrap .articles_wrap .item .top .btns_wrap .like:hover {
  background: #06BD32;
  color: #fff;
}
.content_wrap .articles_wrap .item .market {
  color: #818181;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 500;
  text-align: left;
  padding: 4px 8px;
  border-radius: 10px;
  background: #F7F7F7;
  margin-top: 12px;
}
.content_wrap .articles_wrap .item .title {
  color: #131313;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin-top: 8px;
}
.content_wrap .articles_wrap .item .dis {
  color: #818181;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  margin-top: 8px;
}
.content_wrap .articles_wrap .item:nth-child(1),
.content_wrap .articles_wrap .item:nth-child(5),
.content_wrap .articles_wrap .item:nth-child(9),
.content_wrap .articles_wrap .item:nth-child(13),
.content_wrap .articles_wrap .item:nth-child(17) {
  margin-left: 0;
}
.content_wrap .bottom_wrap {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content_wrap .bottom_wrap .first {
  width: 390px;
  padding: 30px;
  border-radius: 20px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content_wrap .bottom_wrap .first .title {
  width: 100%;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  color: #131313;
  padding-bottom: 16px;
  border-bottom: 1px solid #CECECE;
}
.content_wrap .bottom_wrap .first .line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid #CECECE;
}
.content_wrap .bottom_wrap .first .line .paire {
  color: #818181;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
}
.content_wrap .bottom_wrap .first .line .price {
  color: #131313;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: center;
}
.content_wrap .bottom_wrap .first .line .percent {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: right;
}
.content_wrap .bottom_wrap .first .line .green {
  color: #06BD32;
}
.content_wrap .bottom_wrap .first .line .red {
  color: #F91E1E;
}
.content_wrap .bottom_wrap .second {
  width: 390px;
  padding: 30px;
  border-radius: 20px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content_wrap .bottom_wrap .second .title {
  width: 100%;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  color: #131313;
  padding-bottom: 20px;
  border-bottom: 1px solid #CECECE;
}
.content_wrap .bottom_wrap .second .line {
  padding: 15px 0;
  border-bottom: 1px solid #CECECE;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.content_wrap .bottom_wrap .second .line .paire {
  color: #131313;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
}
.content_wrap .bottom_wrap .second .line .price {
  color: #06BD32;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: right;
}
.content_wrap .bottom_wrap .second .line .profit {
  color: #818181;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;
}
.content_wrap .bottom_wrap .second .btn {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 1px solid #06BD32;
  margin-top: 20px;
  text-decoration: none;
  color: #06BD32;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
}
.content_wrap .bottom_wrap .second .btn:hover {
  background: #06BD32;
  color: #fff;
}
.content_wrap .bottom_wrap .third {
  width: 390px;
  padding: 30px;
  border-radius: 20px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content_wrap .bottom_wrap .third .title {
  width: 100%;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  color: #131313;
  padding-bottom: 20px;
  border-bottom: 1px solid #CECECE;
}
.content_wrap .bottom_wrap .third .line {
  width: 100%;
  border-bottom: 1px solid #CECECE;
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content_wrap .bottom_wrap .third .line .name {
  color: #818181;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
  width: 30%;
}
.content_wrap .bottom_wrap .third .line .price {
  color: #131313;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: center;
}
.content_wrap .bottom_wrap .third .line .percent {
  color: #131313;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: right;
}
.footer {
  width: 100%;
  height: auto;
  margin-top: 100px;
  background: #fff;
  padding-top: 30px;
}
.footer .footer_center_wrap {
  width: 1410px;
  height: 100%;
  margin: auto;
}
.footer .footer_center_wrap .first_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #F7F7F7;
  padding-bottom: 20px;
}
.footer .footer_center_wrap .first_wrap .logo {
  width: 220px;
}
.footer .footer_center_wrap .first_wrap .logo img {
  width: 90px;
  height: 66px;
}
.footer .footer_center_wrap .first_wrap .nav {
  width: 668px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer .footer_center_wrap .first_wrap .nav a {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  color: #3C3C3C;
  text-decoration: none;
}
.footer .footer_center_wrap .first_wrap .right_btns {
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer .footer_center_wrap .first_wrap .right_btns .item {
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: space-between;
  align-items: center;
}
.footer .footer_center_wrap .first_wrap .right_btns .item_2 {
  display: flex;
  flex-direction: row;
  width: 88px;
  justify-content: space-between;
  align-items: center;
}
.footer .footer_center_wrap .second_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.footer .footer_center_wrap .second_wrap .left_text {
  width: 570px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #818181;
}
.footer .footer_center_wrap .second_wrap .right_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer .footer_center_wrap .second_wrap .right_text a {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #818181;
}
.footer .footer_center_wrap .second_wrap .right_text a:nth-child(2) {
  margin-top: 8px;
}
@media only screen and (max-device-width: 768px) {
  .header {
    width: 100%;
    height: 84px;
  }
  .header .header_center_wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .header .header_center_wrap .logo {
    width: 60px;
    margin-left: 18px;
  }
  .header .header_center_wrap .logo img {
    width: 60px;
    height: 44px;
  }
  .header .header_center_wrap .nav {
    background: #F7F7F7;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 83px;
    width: 90%;
    margin: 0 5%;
    padding: 25px 0;
    border-radius: 20px;
  }
  .header .header_center_wrap .nav a {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    color: #131313;
    padding: 16px 0;
  }
  .header .header_center_wrap .nav .mobile_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
  .header .header_center_wrap .right_btns {
    margin-right: 18px;
    width: 220px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .header .header_center_wrap .right_btns .item {
    display: none;
    width: 83px;
  }
  .header .header_center_wrap .right_btns .item img:first-child {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  .header .header_center_wrap .right_btns .item img:last-child {
    width: 51px;
    height: 34px;
  }
  .header .header_center_wrap .right_btns .item_2 {
    width: 76px;
    display: none;
  }
  .header .header_center_wrap .right_btns .item_2 img:first-child {
    width: 34px;
    height: 34px;
    margin-right: 8px;
  }
  .header .header_center_wrap .right_btns .item_2 img:last-child {
    width: 34px;
    height: 34px;
  }
  .header .header_center_wrap .right_btns .burger {
    display: flex;
    width: 34px;
    height: 34px;
    margin-left: 12px;
  }
  .header .header_center_wrap .right_btns .burger_close {
    width: 34px;
    height: 34px;
    margin-left: 12px;
  }
  .content_wrap {
    width: 90%;
  }
  .content_wrap .top_nav {
    display: none;
  }
  .content_wrap .content_head {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .content_wrap .content_head .title {
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 12px;
  }
  .content_wrap .content_head .right_btns {
    padding-bottom: 15px;
    overflow-x: scroll;
    width: 100%;
  }
  .content_wrap .content_head .right_btns .like_start {
    display: flex;
    opacity: 1;
    margin-right: 20px;
    width: 70px;
  }
  .content_wrap .content_head .right_btns .btns_wrap {
    padding: 4px;
  }
  .content_wrap .content_head .right_btns .btns_wrap .item {
    padding: 8px 12px;
    font-size: 13px;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
  }
  .content_wrap .content_head .right_btns .like {
    display: none;
  }
  .content_wrap .articles_wrap {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
  }
  .content_wrap .articles_wrap .item {
    width: 100%;
    margin-left: 0;
    margin-top: 12px;
    display: none;
  }
  .content_wrap .articles_wrap .item .top img {
    width: 292px;
  }
  .content_wrap .articles_wrap .item .title {
    font-size: 16px;
  }
  .content_wrap .articles_wrap .item .dis {
    font-size: 13px;
  }
  .content_wrap .articles_wrap .item:nth-child(1),
  .content_wrap .articles_wrap .item:nth-child(2),
  .content_wrap .articles_wrap .item:nth-child(3),
  .content_wrap .articles_wrap .item:nth-child(4) {
    display: flex;
  }
  .content_wrap .bottom_wrap {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 32px;
  }
  .content_wrap .bottom_wrap .first {
    width: calc(100% - 32px);
    padding: 16px;
  }
  .content_wrap .bottom_wrap .first .title {
    font-size: 16px;
  }
  .content_wrap .bottom_wrap .first .line {
    font-size: 13px;
    padding-bottom: 12px;
  }
  .content_wrap .bottom_wrap .second {
    width: 90%;
    width: calc(100% - 32px);
    padding: 16px;
    margin: 16px 0;
  }
  .content_wrap .bottom_wrap .second .title {
    font-size: 16px;
  }
  .content_wrap .bottom_wrap .second .line .paire {
    font-size: 13px;
  }
  .content_wrap .bottom_wrap .second .line .price {
    font-size: 16px;
  }
  .content_wrap .bottom_wrap .second .line .profit {
    font-size: 13px;
  }
  .content_wrap .bottom_wrap .second .btn {
    font-size: 13px;
    height: 46px;
  }
  .content_wrap .bottom_wrap .third {
    width: 90%;
    width: calc(100% - 32px);
    padding: 16px;
  }
  .content_wrap .bottom_wrap .third .title {
    font-size: 16px;
  }
  .content_wrap .bottom_wrap .third .line .name {
    font-size: 13px;
  }
  .content_wrap .bottom_wrap .third .line .price {
    font-size: 13px;
  }
  .content_wrap .bottom_wrap .third .line .percent {
    font-size: 13px;
  }
  .footer {
    width: 100%;
    height: auto;
    margin-top: 40px;
  }
  .footer .footer_center_wrap {
    width: 100%;
  }
  .footer .footer_center_wrap .first_wrap .logo {
    width: 60px;
    margin-left: 18px;
  }
  .footer .footer_center_wrap .first_wrap .logo img {
    width: 60px;
    height: 44px;
  }
  .footer .footer_center_wrap .first_wrap .nav {
    display: none;
  }
  .footer .footer_center_wrap .first_wrap .right_btns {
    margin-right: 18px;
    width: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer .footer_center_wrap .first_wrap .right_btns .item {
    width: 83px;
  }
  .footer .footer_center_wrap .first_wrap .right_btns .item img:first-child {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  .footer .footer_center_wrap .first_wrap .right_btns .item img:last-child {
    width: 51px;
    height: 34px;
  }
  .footer .footer_center_wrap .first_wrap .right_btns .item_2 {
    width: 76px;
  }
  .footer .footer_center_wrap .first_wrap .right_btns .item_2 img:first-child {
    width: 34px;
    height: 34px;
    margin-right: 8px;
  }
  .footer .footer_center_wrap .first_wrap .right_btns .item_2 img:last-child {
    width: 34px;
    height: 34px;
  }
  .footer .footer_center_wrap .second_wrap {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px 0;
  }
  .footer .footer_center_wrap .second_wrap .left_text {
    width: 80%;
    font-size: 11px;
    margin-left: 18px;
  }
  .footer .footer_center_wrap .second_wrap .right_text {
    margin-left: 18px;
    margin-top: 16px;
  }
  .footer .footer_center_wrap .second_wrap .right_text a {
    font-size: 11px;
  }
}
@media only screen and (max-device-width: 1410px) and (min-device-width: 767px) {
  .header {
    width: 100%;
    height: 84px;
  }
  .header .header_center_wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .header .header_center_wrap .logo {
    width: 90px;
    margin-left: 54px;
  }
  .header .header_center_wrap .logo img {
    width: 90px;
    height: 66px;
  }
  .header .header_center_wrap .nav {
    background: #F7F7F7;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 83px;
    width: 90%;
    margin: 0 5%;
    padding: 25px 0;
    border-radius: 20px;
  }
  .header .header_center_wrap .nav a {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    color: #131313;
    padding: 16px 0;
  }
  .header .header_center_wrap .right_btns {
    margin-right: 54px;
    width: 220px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .header .header_center_wrap .right_btns .item {
    width: 83px;
  }
  .header .header_center_wrap .right_btns .item img:first-child {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  .header .header_center_wrap .right_btns .item img:last-child {
    width: 51px;
    height: 34px;
  }
  .header .header_center_wrap .right_btns .item_2 {
    width: 76px;
  }
  .header .header_center_wrap .right_btns .item_2 img:first-child {
    width: 34px;
    height: 34px;
    margin-right: 8px;
  }
  .header .header_center_wrap .right_btns .item_2 img:last-child {
    width: 34px;
    height: 34px;
  }
  .header .header_center_wrap .right_btns .burger {
    display: flex;
    width: 34px;
    height: 34px;
    margin-left: 12px;
  }
  .header .header_center_wrap .right_btns .burger_close {
    width: 34px;
    height: 34px;
    margin-left: 12px;
  }
  .content_wrap {
    width: 90%;
  }
  .content_wrap .top_nav {
    display: none;
  }
  .content_wrap .content_head {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .content_wrap .content_head .title {
    font-size: 40px;
    margin-top: 40px;
  }
  .content_wrap .content_head .right_btns {
    margin-top: 20px;
  }
  .content_wrap .content_head .right_btns .like_start {
    display: none;
  }
  .content_wrap .content_head .right_btns .btns_wrap {
    padding: 8px;
  }
  .content_wrap .content_head .right_btns .btns_wrap .item {
    font-size: 14px;
    padding: 10px 20px;
  }
  .content_wrap .articles_wrap {
    width: 100%;
    justify-content: space-between;
  }
  .content_wrap .articles_wrap .item {
    width: 324px;
    margin-left: 0;
    display: none;
  }
  .content_wrap .articles_wrap .item .top img {
    width: 100%;
  }
  .content_wrap .articles_wrap .item:nth-child(1),
  .content_wrap .articles_wrap .item:nth-child(2),
  .content_wrap .articles_wrap .item:nth-child(3),
  .content_wrap .articles_wrap .item:nth-child(4) {
    display: flex;
  }
  .content_wrap .bottom_wrap {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 32px;
  }
  .content_wrap .bottom_wrap .first {
    width: 100%;
  }
  .content_wrap .bottom_wrap .second {
    width: 100%;
    margin: 30px 0;
  }
  .content_wrap .bottom_wrap .third {
    width: 100%;
  }
  .footer {
    width: 100%;
    height: auto;
    margin-top: 40px;
  }
  .footer .footer_center_wrap {
    width: 100%;
  }
  .footer .footer_center_wrap .first_wrap .logo {
    width: 60px;
    margin-left: 54px;
  }
  .footer .footer_center_wrap .first_wrap .logo img {
    width: 60px;
    height: 44px;
  }
  .footer .footer_center_wrap .first_wrap .nav {
    display: none;
  }
  .footer .footer_center_wrap .first_wrap .right_btns {
    margin-right: 54px;
    width: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer .footer_center_wrap .first_wrap .right_btns .item {
    width: 83px;
  }
  .footer .footer_center_wrap .first_wrap .right_btns .item img:first-child {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  .footer .footer_center_wrap .first_wrap .right_btns .item img:last-child {
    width: 51px;
    height: 34px;
  }
  .footer .footer_center_wrap .first_wrap .right_btns .item_2 {
    width: 76px;
  }
  .footer .footer_center_wrap .first_wrap .right_btns .item_2 .profile {
    width: 35px;
    height: 35px;
  }
  .footer .footer_center_wrap .first_wrap .right_btns .item_2 .profile img {
    width: 35px;
    height: 35px;
  }
  .footer .footer_center_wrap .first_wrap .right_btns .item_2 .exit_btn {
    display: none;
  }
  .footer .footer_center_wrap .second_wrap {
    padding: 16px 0;
  }
  .footer .footer_center_wrap .second_wrap .left_text {
    width: 40%;
    font-size: 11px;
    margin-left: 54px;
  }
  .footer .footer_center_wrap .second_wrap .right_text {
    margin-right: 54px;
    margin-top: 16px;
  }
  .footer .footer_center_wrap .second_wrap .right_text a {
    font-size: 11px;
  }
}